{{ define "main" }}
<div itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="headline">{{ .Title }}</h1>

  <em>
    Published:
    <time itemprop="dateCreated" datetime="{{ .Date.Format `2006-01-02` }}">{{ .Date.Format "2 Jan 2006" }}</time>
    {{ if not (eq .Lastmod .Date) }}
    <br>Modified:
    <time itemprop="dateModified"
      datetime="{{ .Lastmod.Format `2006-01-02` }}">{{ .Lastmod.Format "2 Jan 2006" }}</time>
    {{ end }}
  </em>

  <div itemprop="articleBody">
    {{ .Content }}
  </div>
</div>
{{ end }}
