<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="yandex-xverification" content="fc9dd63070a12909">
  <meta charset="UTF-8" />
  <meta author="Mateja Maric" />
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta name="viewport" content="width=device-width initial-scale=1.0" />
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <title>{{ .Title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans&family=Noto+Serif&display=swap"
    rel="stylesheet">
</head>

<body>
  <nav>
    <div class="mm">Mateja Maric</div>
    <a {{ if eq .RelPermalink "/" }} class="active" {{ end }} href="/">Home</a>
    <a {{ if eq .RelPermalink "/blog/" }} class="active" {{ end }} href="/blog/">Blog</a>
    <a {{ if eq .RelPermalink "/contact/" }} class="active" {{ end }} href="/contact/">Contact</a>
    <div class="icons">
      <a target="_blank" href="https://github.com/MatejaMaric" title="My GitHub Profile."><img src="/github.svg"></a>
      <a target="_blank" href="https://git.matejamaric.com" title="My Personal Git Server."><img src="/git.svg"></a>
      <a href="mailto:mail@matejamaric.com" title="Email me!"><img src="/envelope.svg"></a>
      <!--<a href="#" title="My Twitter Profile."><img src="/twitter.svg"></a>-->
      <!--<a href="#" title="My Mastodon Profile."><img src="/mastodon.svg"></a>-->
      <!--<a href="#" title="My Linkedin Profile."><img src="/linkedin.svg"></a>-->
    </div>
  </nav>
  <main>
    {{ block "main" . }}{{ end }}
  </main>

</body>

</html>
