:root {
  --ff-monospace: "Inconsolata", "Courier New", monospace;
  --ff-sans-serif: "Noto Sans", Helvetica, sans-serif;
  --ff-serif: "Noto Serif", Garamond, serif;

  --clr-fg: #fff;
  --clr-bg: #444;

  --fs-xl: 3.3rem;
  --fs-md: 1.4rem;
  --fs-sm: 1.125rem;
}

@media only screen and (max-width: 768px) {
  :root {
    --fs-md: 1rem;
    --fs-sm: 0.875rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-fg: #000;
    --clr-bg: #eee;
  }
}

/* ------ Base styles ------ */
* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 1rem;
  font-size: var(--fs-md);
  line-height: 1.6em;
  font-family: var(--ff-serif);

  color: var(--clr-fg);
  background-color: var(--clr-bg);
}

.icon-fill {
  fill: #444;
}

/* ------ Nav styles ------ */
nav {
  display: flex;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto 3rem;
}

/* Nav Text */
nav .name {
  font-size: var(--fs-xl);
  line-height: 1em;
  font-weight: bold;
}

/* Nav Icons */
nav .icons {
  display: flex;
  align-items: center;
  margin: 0 auto 0 1rem;
}

nav .icons a {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

/* Nav Links */
nav .links {
  display: flex;
  align-items: center;
}

nav .links a {
  display: block;
  color: var(--clr-fg);
  text-decoration: none;
  padding: 0 1rem;
}

nav .links a:hover {
  text-decoration: underline;
}

nav .links a.active {
  font-weight: bold;
}

/* Nav Mobile */
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    margin: 0 auto 2rem;
  }
  nav .name {
    text-align: center;
  }
  nav .icons {
    margin: 1rem 0;
  }
}

/* ------ Main styling ------ */
main {
  max-width: 50rem;
  margin: 0 auto
}

h1, h2, h3 {
  line-height: 1.2em;
}

a {
	color: #07A;
  white-space: pre-line;
}

pre {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 1rem;
}

code {
  font-size: var(--fs-sm);
  font-family: var(--ff-monospace);
}
