/* Fonts */
.monospace {
  font-family: "Inconsolata", monospace;
}
.sans-serif {
  font-family: "Noto Sans", sans-serif;
}
.serif {
  font-family: "Noto Serif", Georgia, Times, serif;
}

/* Base styles */
* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 1.6em;
  font-family: "Noto Serif", Georgia, Times, serif;

  color: #444;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }
}

/* Nav styles */
nav {
  display: flex;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto 3rem;
}

/* Nav Text */
nav .name {
    font-size: 3.3rem;
    line-height: 1em;
    font-weight: bold;
}

/* Nav Icons */
nav .icons {
  display: flex;
  align-items: center;
  margin: 0 auto 0 1rem;
}

nav .icons a {
  display: block;
  margin: 0 0.5rem;
}

/* Nav Links */
nav .links {
  display: flex;
  align-items: center;
}

nav .links a {
    display: block;
    color: #444;
    text-decoration: none;
    padding: 0 1rem;
}

nav .links a:hover {
    text-decoration: underline;
}

nav .links a.active {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    margin: 0 auto 2rem;
  }
  nav .name {
    text-align: center;
  }
  nav .icons {
    margin: 1rem 0;
  }
}

/* Main styling */
main {
  max-width: 50rem;
  margin: 0 auto
}

h1, h2, h3 {
  line-height: 1.2em;
}

a {
	color: #07A;
  white-space: pre-line;
}

pre {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 1rem;
}

code {
  font-size: 1.125rem;
  font-family: "Inconsolata", monospace;
}

@media only screen and (max-width: 768px) {
  code {
    font-size: 0.875em;
  }
}
